<div class="comments card w-50">
   {{#each this}}
      <section class="comment">
         <h5 class="card-header">Comments</h5>
         <div class="meta card-subtitle text-muted m-2">
            {{user.username}} on {{format_date created_at}}
         </div>
         <div class="text card-body">
            {{comment_text}}
         </div>
      </section>
   {{/each}}
</div>