<section class="card">
   <h2 class="card-header">Create New Post</h2>

   <form class="card-body">
      <div class="form-group col-6">
         <label for="post-title">Title of your Post:</label>
         <input class="form-control" type="text" id="post-title" name="post-title" placeholder="Example Title"/>
      </div>
      <div class="form-group col-6">
         <label for="post-url">Post URL:</label>
         <input class="form-control" type="text" id="post-url" name="post-url" placeholder="https://www.exampleurl.com" />
      </div>
      <div class="form-group col-6">
         <label for="post-content">Post Body:</label>
         <textarea class="form-control" type="text" id="post-url" name="post-content" rows="3" placeholder="Whats on your Mind?"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-dark">Post</button>
   </form>
</section>

{{#if posts.length}}
<section class="card">
   <h2 class="card-header">Your Posts</h2>
   <ol class="card-body">
      {{#each posts as |post|}}
         <ul class="">
            {{> post-info post }}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link btn btn-outline-info">Edit post</a>
         </ul>
      {{/each}}
   </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>