{{> post-info post }}
{{#if loggedIn}}
<form class="comment-form card card-body">
  <div>
    <textarea class="col-6 form-control" id="comment-body" name="comment-body" rows="3" placeholder="Whats on your mind?"></textarea>
  </div>

  <div class="m-2">
    <button type="submit" class="submit-btn btn btn-outline-success">add comment</button>
    <button type="button" class="upvote-btn btn btn-outline-info">upvote</button>
  </div>
</form>
{{/if}}

{{> comments post.comments }}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}